{% extends 'main/base.html' %}
{% block title %} Sign up {% endblock %}
{% load crispy_forms_tags %}
{% block content %}
<style>
    body {
        background-image: url("https://img.stablecog.com/insecure/256w/aHR0cHM6Ly9iLnN0YWJsZWNvZy5jb20vYjYzNjg0ODUtOWYwMy00YTczLWJlMGMtMGNmYzFmN2Y1OTc3LmpwZWc.webp");
        background-size: cover;
        background-repeat: no-repeat;
        background-attachment: fixed;
        font-family: 'Roboto', sans-serif;
        color: #333;
    }

    .signup-container {
        background-color: rgba(255, 255, 255, 0.9);
        padding: 30px;
        border-radius: 10px;
        max-width: 400px;
        margin: 100px auto;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
        text-align: center;
    }

    h1 {
        margin-bottom: 30px;
    }

    /* Style form fields */
    input[type="text"], input[type="password"] {
        width: 100%;
        padding: 10px;
        margin-bottom: 20px;
        border: 1px solid #ddd;
        border-radius: 5px;
        box-sizing: border-box;
    }

    /* Style form label */
    label {
        display: block;
        text-align: left;
        font-weight: bold;
    }

    .btn-success {
        background-color: #333; /* Change background color to dark gray */
        border-color: #333; /* Change border color to dark gray */
        color: #fff;
        padding: 10px 20px;
        border-radius: 5px;
        font-size: 16px;
        transition: background-color 0.3s ease;
    }

    .btn-success:hover {
        background-color: #555; /* Darken hover background color */
        border-color: #555; /* Darken hover border color */
    }
</style>

<div class="signup-container">

    <form method="post">
        {% csrf_token %}
        {{ form|crispy }}

        <p>Have an account? Login <a href="/login">Here</a>!</p>
        <button type="submit" class="btn btn-success">Register</button>
    </form>
</div>
{% endblock %}
